.groupDetails .modal-body {
    max-height: 600px;
    overflow: auto;
}

.groupDetails .modal-body::-webkit-scrollbar {
    width: 3px;
}

.groupDetails .modal-body::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
.groupDetails .modal-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}